# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular Data Science languages
- list data science libraries
- list data science tools
- show different arithmetic expressions
- make a table with one column
- calculate minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
1. SQL
1. R
1. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
1. TensorFlow
1. MatPlotLib
1. PyTorch

|Data Science Tools|
|:-:|
|RStudio|
|Jupyter Notebook|
|github|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [13]:
# simple arithmetic expression 
# to mutiply then add integers
(3*4)+5

17

In [14]:
# This will convert 200 minutes 
# to hours by diving by 60
200/60

3.3333333333333335

## Author: 
M.Umbach