<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Assignment for the course <br>**Tools for Data Science**

Introduction: <br>
In the following several possibilities what you can do with Jupyter Notebook are explained and shown

Languages for Data Science
1. Python
1. R
1. SQL
1. Scala
1. Java
1. Julia
1. C++
1. Javascript
1. PHO
1. Go

Data Science Libraries:
* Pandas
* SciPy
* Matplotlib
* NumPy
* Tensorflow
* PyTorch
* ApacheSpark
* SciKit learn lib

Data Science Tools:
<br>
| Data Management  | Data Visualisation | Commercial Tools | DataIntegration| 
| --- | --- | --- | --- |
| mySQL | Hue | WatsonStudioDesktop | ApacheAirflow |
| ApacheCouchDB | Kibana | MySql database | KubeFlow |
| postgreSQL | ApacheSuperset | SPSS modeler | ApacheKafka |
| ApacheCassandra | --- | IBMPowerBI | NodeRed |

Arithmetic Expression:
123+345*123

In [5]:
(123+345*123)

42558

What are 1234 minutes in hours?

In [6]:
1234/60

20.566666666666666

Objectives:
- Creating a Jupyter Notebook using Skills Network LTI 
- Create Markdown and code cells
- share it via a public link

Authors Name: M. Umbach